body {
  font-size: 2rem;
  line-height: 1.5;
}



.itemInput {

  border: 2px solid crimson;
  background: blanchedalmond;

}


.wrapper {
  max-width: 1000px;
  margin: 4rem auto;
  padding: 2rem;
  background: white;
}

.box, .wrapper {
  box-shadow: 0 0 3px 5px rgba(0,0,0,0.08653);
}
a {
  color: var(--blue);
  text-decoration-color: var(--yellow);
}


a.button, button, input[type="button"] {
  color: white;
  background: brown;
  padding: 1rem;
  border: 0;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  font-size:2rem;
}

:focus {
  outline-color: var(--pink);
}

fieldset {
  border: 1px solid black;
}

input:not([type="checkbox"]):not([type="radio"]), textarea, select {
  display: block;
  padding: 1rem;
  border: 1px solid var(--grey);
}

.success {
  border: 1px solid red;
}


/* Shopping Form */
.shopping {
  display: grid;
  grid-template-columns: 1fr auto;
}

.shopping-list {
  background: white;
  padding: 3rem;
  border-radius: 1rem;
  width: 500px;
  margin: 4rem 0;
}

.shopping-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.shopping-item {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 1rem;
  align-items: center;
  border-bottom: 1px solid var(--gray);
}

.shopping-item input[type="checkbox"] {
  margin-right: 1rem;
  border: yellow;
  background: wheat;
}

.shopping-item input[type="checkbox"]:checked + .itemName {
  opacity: 0.5;
}

.shopping-item button {
  padding: 0;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.2s;
}

.shopping-item button:hover {
  transform: scale(1.4);
}
